body {
	background-color: white;
	font-family: verdana, sans-serif;
	font-size: 15px;
	margin: 0px;
}

.loco_selector {
	position: fixed;
	left: 0px;
	top: 55px;
	height: 50px;
	width: 252px;
}

.layer_selector {
	position: fixed;
	right: 0px;
	top: 55px;
	height: 50px;
	width: calc(100% - 252px);
}

.loco_selector select,
.layer_selector select {
	width: 100%;
}

.loco {
	position: fixed;
	top: 90px;
	left: 0px;
	border: solid 1px;
	overflow-x: hidden;
	overflow-y: auto;
}

.inner_loco {
	width: 250px;
}

.clock {
	height: 250px;
	position: fixed;
	left: 0px;
	border: solid 1px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.clock2 {
	height: 250px;
	width: 250px;
}

@media (max-width: 735px) {
	.layer_selector,
	.layout,
	.menu_add {
		display: none;
	}

	.loco_selector {
		width: 100%;
	}

	.loco,
	.status,
	.clock {
		width: calc(100% - 2px);
	}

	@media (max-height: 909px) {
		.loco {
			height: calc(100% - 204px);
		}

		.clock {
			display: none;
		}
	}

	@media (min-height: 910px) {
		.loco {
			height: calc(100% - 456px);
		}
	}

	.clock {
		bottom: 112px;;
	}
}

@media (min-width: 736px) {
	.layer_selector,
	.layout,
	.menu_add {
		display: inline-block;
	}

	.loco,
	.loco_selector,
	.clock {
		width: 250px
	}

	.status {
		width: calc(100% - 254px);
	}

	@media (max-height: 799px) {
		.loco {
			height: calc(100% - 92px);
		}

		.clock {
			display: none;
		}
	}

	@media (min-height: 800px) {
		.loco {
			height: calc(100% - 344px);
		}
	}

	.clock {
		bottom: 0px;
	}
}

.layout {
	height: calc(100% - 204px);
	width: calc(100% - 254px);
	border: solid 1px;
	overflow: auto;
	position: fixed;
	right: 0px;
	top: 90px;
	background-image: url("/layout_background.png");
	background-repeat: repeat, repeat;
	background-attachment: local;
}

.responses {
	top: 0px;
	right: 0px;
	z-index: 3;
	position: fixed;
	border: 0px;
	margin: 0px;
	text-align: right;
}

.responseinfo,
.responsewarning,
.responseerror {
	margin: 5px;
	padding: 10px;
	border: solid 2px black;
	border-radius: 5px;
}

.responseinfo {
	background-color: lightgreen;
}

.responsewarning {
	background-color: orange;
}

.responseerror {
	background-color: red;
}

.menu {
	height: 50px;
	width: 100%;
	top: 0px;
	left: 0px;
	border: 1px;
	position: fixed;
}

.menu_main,
.inline-block {
	display: inline-block;
}

.layout_item {
	line-height: 36px;
	text-align: center;
	height: 36px;
	width: 36px;
	position: absolute;
	border: 0px;
}

.button .tooltip {
	top: 30px;
}

.layout_item .tooltip {
	top: 32px;
	left: 32px;
}

.button .tooltip,
.layout_item .tooltip {
	line-height: 1;
	white-space: nowrap;
	visibility: hidden;
	background-color: yellow;
	border: solid 1px black;
	border-radius: 0px 10px 10px 10px;
	padding: 5px;
	position: absolute;
	z-index: 1;
}

.button:hover .tooltip,
.layout_item:hover .tooltip {
	visibility: visible;
}

.accessory_off {
	color: red;
}

.accessory_on {
	color: green;
}

.switch_turnout {
	color: red;
}

.switch_straight {
	color: green;
}

.switch_turnout .turnout {
	fill: black;
}

.switch_straight .straight {
	fill: black;
}

.signal_red .red {
	fill: red;
}

.signal_green .green {
	fill: lightgreen;
}

.feedback_free .feedback {
	fill: lightgreen;
}

.feedback_occupied .feedback {
	fill: red;
}

.track_free .track {
	fill: black;
}

.track_occupied .track,
.track_reserved_occupied .track,
.track_reserved_occupied .loconame {
	fill: red;
}

.track_reserved .track,
.track_reserved .loconame {
	fill: green;
}

.track_blocked .track {
	fill: gray;
}

.track_error {
	background-color: orange;
}

.track_blocked .track_block,
.track_unblocked .track_unblock,
.loco_known .track_set,
.loco_unknown .track_start_loco,
.loco_unknown .track_stop_loco,
.loco_unknown .track_loco_release,
.track_free .loconame,
.track_occupied .loconame,
.track_blocked .loconame,
.track_error .loconame,
.orientation_left .track_left,
.orientation_right .track_right,
.feedback_layer .real_layer_only {
	display: none;
}

.popup {
	position: fixed;
	display: none;
	height: 600px;
	width: 600px;
	top: 20px;
	left: 20px;
	z-index: 2;
	border: solid 3px black;
	border-radius: 10px;
	background-color: lightgray;
	padding: 10px;
}

.popup_content {
	width: 100%;
	height: 460px;
	overflow-x: hidden;
	overflow-y: auto;
}

label {
	width: 300px;
	height: 30px;
	display: inline-block;
}

.input_select_with_label,
.input_integer_with_label {
	min-width: 320px;
	display: inline-block;
}

.narrow_label label {
	width: 120px;
}

.narrow_label select {
	width: 450px;
}

.integer {
	width: 40px;
}

.checkbox {
	width: 15px;
}

.select_track {
	width: 150px;
}

.select_orientation {
	width: 100px;
}

.select_relation_id {
	width: 270px;
}

.select_relation_objecttype,
.select_relation_state {
	width: 100px;
}

input,
select {
	width: 250px;
}

.status {
	position: fixed;
	bottom: 0px;
	right: 0px;
	height: 110px;
	border: solid 1px;
	overflow-x: hidden;
	overflow-y: scroll;
	background: white;
}

button {
	height: 45px;
	width: 45px;
	background-color: lightgray;
	border-radius: 5px;
	margin: 1px;
	display: inline-block;
	text-align: center;
	font-size: 15px;
	padding: 0px;
}

button:active {
	background-color: darkgray;
	transform: translateY(1px);
}

.wide_button {
	height: 30px;
	width: 90px;
}

.button_on {
	background-color: darkgray;
}

.button_off {
	background-color: lightgray;
}

.button_booster.button_on {
	background-color: lightgreen;
}

.button_booster.button_off {
	background-color: red;
}

.button_orientation.button_on {
	background-color: lightgray;
}

.button_orientation.button_off {
	background-color: lightgray;
	transform: rotate(180deg);
}

.slider {
	width: 230px;
}

.contextmenu {
	position: fixed;
	display: none;
	z-index: 1;
}

.contextentries {
	list-style: none;
	padding: 0;
	margin: 0;
}

.contextentry {
	cursor: pointer;
	background: lightgrey;
	padding: 5px;
}

.contextentry:hover {
	background: darkgrey;
}

.tab_button {
	padding: 5px;
	border: 1px solid black;
	border-bottom-style: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background-color: lightgrey;
	height: 28px;
	width: auto;
	border-radius: 0px;
	margin: 0px;
}

.tab_button_selected,
.tab_button:hover {
	background-color: #e9e9e9;
}

.tab_content {
	border: 1px solid black;
	padding: 3px;
}

.hidden {
	display: none;
}
