railcontrol
railcontrol.conf
railcontrol.exe
railcontrol.sqlite
railcontrol.sqlite-journal
railcontrol.sqlite.*
railcontrol.log
railcontrol.log.*
*.tar.xz
*.zip
Storage/sqlite/sqlite3
*.o
*.so
*.bak
test/testloco
tools/Cc-Schnitte-Sniffer
gmon.out
amalgamation.cpp
.*.swp
svg/*
Version.cpp
.settings/
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake

