Source: can2udp
Maintainer: Joerg Dorchain <joerg@dorchain.net>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)
Homepage: https://github.com/GBert/railroad/tree/master/can2udp
Vcs-Git: https://github.com/GBert/railroad/tree/master/can2udp
Vcs-browser: https://github.com/GBert/railroad/tree/master/can2udp

Package: can2lan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: httpd
Suggests: can2udp-utils
Description: M*rklin Control Station 2 (CS2)  Gateway emulator
 This package contains files to emulate the M*rklin CS2 Gateway:
 can2lan transfers CAN frames to UDP and vice versa, and also
 listen on TCP (for M*rklinApp & Software)
 .
 can2lan is working fine with Rocrail and Gleisbox (60113).
 can2lan aims to emulate the CS2 (or more specific the CAN
 gateway of the CS2).

Package: can2udp-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: M*rklin Control Station 2 (CS2)  Gateway utilities
 This package contains helpers for the can2lan emulator:
 .
 can-monitor interprets CAN-Frames and outputs the interpretation
 gb2-update  Gleisbox Update Program
 .
 can2serial  Emulation for CC-Schnitte for Konfiguration of CdB
             Components like GleisReporterDeluxe
 lan-schnitte As can2serial over network sockets
 .
 pio-i2c-udp Reads GCA-PI02 (http://wiki.rocrail.net/doku.php?id=gca_pi02-de) 
             via i2c bus and send M*rklin S88 Events
 s88udp      S88 Interface via GPIO
