#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	dh_testdir
	cd src; make clean
	dh_clean

override_dh_auto_build:
	cd src; CPPFLAGS=-DSUNXI_A20 make can2lan can2serial lan-schnitte can-monitor cs2ping gb2-update pio-i2c-udp s88udp-rpi s88udp-bpi s88can

override_dh_auto_install:
	cp src/can2lan $$(pwd)/debian/can2lan/usr/sbin
	cp -r files/maerklin/config $$(pwd)/debian/can2lan/var/www/html
	cp src/can2serial $$(pwd)/debian/can2udp-utils/usr/sbin
	cp src/lan-schnitte $$(pwd)/debian/can2udp-utils/usr/sbin
	cp src/can-monitor $$(pwd)/debian/can2udp-utils/usr/bin
	cp src/gb2-update $$(pwd)/debian/can2udp-utils/usr/bin
	cp src/pio-i2c-udp $$(pwd)/debian/can2udp-utils/usr/bin
	cp src/s88udp-bpi $$(pwd)/debian/can2udp-utils/usr/bin
	cp src/s88udp-rpi $$(pwd)/debian/can2udp-utils/usr/bin
	cp src/s88can $$(pwd)/debian/can2udp-utils/usr/bin

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_test:
